

.Education-Container{
    margin-top: 80px;
    text-transform: none;
    margin: 0;
    padding: 0;
}

.Education-Container div{
    padding-right: 0px;
}

.Education-Container h3{
    font-weight: 500;
    margin-top: 30px;
}

.Education-Container h2{
    font-weight: 500;
    font-size: 32px;
    margin-top: 15px;
}

.Education-Container p{
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    text-align: justify;
}

#info h1{
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
}

#info{
    margin-bottom: 70px;
    text-transform: none;
    width: 100%;
    padding-right: 0px;
}

.forms{
    width: 100%;
}
#axzs{
    width: 100%;
    padding-right: 0px;
}
.forms div{
    width: 100vw;
}

#info{
    width: 100%;
}
#info p{
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}
#info ul li{
   font-size: 16px;
   text-transform: none;
}

.font-ED{
    font-size: 21px;
}
#axzs{
    margin: 0;
    width: 100%;
    padding: 0;
}


#Image_gallary{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
#Image_gallary img{
    width: 40%;
}


#Image_gallary2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#Image_gallary2 video{
    width: 100%;
    height: auto;
}
#Image_gallary2 img{
    width: 100%;
}

.Account_img{
    width: 100%;

}

.Account_img img{
   width: 100%;
}

@media (max-width:768px) {
    .Education-Container{
        margin-top: 20px;
        margin: 0;
        padding: 0;
    }

  
    .container{
        padding-left: 20px;
        margin-top: 30px;
    }
    .Education-Container{
        margin: 0;
        padding: 0;
    }

    .Education-Container h3{
        font-weight: 400;
    }

   
    .Education-Container h2{
        font-weight: 500;
        font-size: 27px;
        margin-top: 15px;
    }

    .Education-Container p{
        font-size: 14px;
        font-weight: 400;
    }

    
#Image_gallary{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    gap: 20px;
}
#Image_gallary img{
    width: 90%;
}

}
